.top-bg{
    height: 15vh;
    background-color: #009688;
}

.bottom-bg{
    height: 85vh;
    background-color: #dbdbd3;
}

.main-box{
    height: 80vh;
}

.user-space{
    height: calc(100% / 10);
}

.chat{
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2rem;
}

.my-grey{
    background-color: #eaeaea;
}

.messaggio, .cerca{
    outline: none;
    border: none;
}

.relative-last-time{
    position: relative;
}

.last-time{
    font-size: 0.7rem;
    position: absolute;
    top: 0;
    right: 20px;
}

.chat-list{
    max-height: 70%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.message-line{
    background-color: #d5f9ba;
    min-height: 50px;
}